
.mb-10 {
    margin-bottom: 1rem;
}
.mb-15 {
    margin-bottom: 1.5rem;
}
.mb-20 {
    margin-bottom: 2rem;
}
.mb-25 {
    margin-bottom: 2.5rem;
}
.mb-30 {
    margin-bottom: 3rem;
}

.mt-10 {
    margin-top: 1rem;
}
.mt-15 {
    margin-top: 1.5rem;
}
.mt-20 {
    margin-top: 2rem;
}
.mt-25 {
    margin-top: 2.5rem;
}
.mt-30 {
    margin-top: 3rem;
}

.ta-left {
    text-align: left;
}
.ta-right {
    text-align: right;
}
.ta-center {
    text-align: center;
}










